@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This website was developed to access the Chicago Crime Database.</p>
<p>The features includes displaying top-10 crimes in Chicago,</p>
<p>searching for top-10 crimes for a specific area, listing all crimes</p>
<p>codes and their numbers of occurrence, list all areas and</p>
<p>their crimes data, and other unique features.</p>

