@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    29 Braxton Ln<br />
    Aurora, IL 60504<br />
    Phone:</abbr>
    630.608.3387
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">mchen217@uic.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">mchen217@uic.edu</a>
</address>
